  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
  body {
    margin:auto;
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Maax', sans-serif; */
    background-color: #fefaef;
    text-align: center;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .logo {
    cursor: pointer;
    color: #fffee7;
    max-height: 5.000em;
  }

  .logoBar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
  }

  .mainContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:80%;
    max-width:1000px;
    margin:auto;
  }

  .navLinks {
    overflow: hidden;
    background-color: #71a8f9;
    min-width: 80%;
    margin: auto;
  }

  h2 {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #5a8ad1;
  }

  a:hover {
    color: #71a8f9;
    transition: all 0.5s ease 0s;
  }

  a.btn.contactBtn, a.btn.contactBtn.active {
    color: #383f41;
    background-color: #fff64f;
    border-radius: 3.125em;
  }

  a:hover.btn.contactBtn {
    color: #383f41;
    background-color: #fffbb3;
  }

  .navLinks a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
    /* font-family: 'Maax Medium', sans-serif; */
    margin:auto;
  }

  .pageBtn {
    color: #ffffff;
    background-color: #71a8f9;
    border-radius: 3.125em;
    padding: 0 15px 0 15px;
  }

  a:hover.pageBtn {
    background-color: #5a8ad1;
    color: #ffffff;
    transition: all 0.5s ease 0s;
  }

  .navLinks a:hover {
    background-color: #bdd7ff;
    color: #383f41;
    transition: all 0.5s ease 0s;
  }

  .navLinks a.active {
    background-color: #5a8ad1;
    color: #ffffff;
  }

  .navLinks .burgMenu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .navLinks {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.55em 5%;
      border-radius: 3.125em;
      margin: 2.5em;
      height: 3.750em;
    }
    .navLinks a.active, .navLinks a:hover {
      border-radius: 3.125em;
    }
  }

  @media screen and (max-width: 767px) {
    .navLinks a:not(:first-child){display: none;}
    .navLinks a.burgMenu {
      float: right;
      display: block;
    }
    .navLinks a {
      padding: 15px 20px;
    }
    a.btn.contactBtn {
      border-radius: 0;
    }
    .logo {
      max-height: 60px;
    }
    .mainContent {
      width: 80%;
    }
  }

  @media screen and (max-width: 767px) {
    .navLinks.responsive {position: relative;}
    .navLinks.responsive .burgMenu {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navLinks.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .footer {
      margin-top: 2.5em;
    }

    .scrollToTopBtn {
      position: relative;
    }
  }

  /*scroll to top*/
  .scrollToTopBtn {
    background-color: #71a8f9;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;

    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all .5s ease
  }

  @media screen and (min-width: 768px) {
      .scrollToTopBtn {
        /* place it at the bottom right corner */
        position: fixed;
        bottom: 20px;
        right: 20px;
      }
    }

  .showBtn {
    opacity: 1;
    transform: translateY(0)
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 2.5em;
  }

  /* grid */
  .main {
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
  }

  .row {
    margin: 8px -16px;
    box-sizing: border-box;

  }

  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }

  .row,
  .row > .filterColumn {
    padding: 8px;
  }

  /* Create four equal columns that floats next to each other */
  .column, .filterColumn {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }

  .filterColumn {
    display: none; /* Hide all elements by default */
  }

  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .workGallery {
    margin-top: 20px;

  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }

  /* Style the buttons */
  .filterBtn, .resumeBtn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 3.125em;
    transition: all 0.7s ease 0s;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  }
  .filterBtn {
    background-color: #ffffff;
  }

  .resumeBtn {
    background-color: #78604d;
    color: #ffffff;
  }
  .resumeBtn:hover {
    background-color: #d1cac5;
    color: #78604d;
  }
  .filterBtn:hover {
    background-color: #d1cac5;
  }
  .filterBtn:hover, .resumeBtn:hover {
  transition: all 0.5s ease 0s;
  }

  .filterBtn.active {
    background-color: #78604d;
    color: #ffffff;
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 767px) {
    .column, .filterColumn {
      width: 100%;
    }
  }

  .boxContents {
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .box, .staticBox {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 1em;
    box-sizing: border-box;
    background-color: #ffffff;
    transition: transform .2s;
  }

  .box {
    min-height: 500px;
    max-height: 500px;
    padding: 15px;
  }

  .staticBox {
    padding: 30px 50px;
  }

  a > .box {
    color: #4a2e17;
  }
  a:hover > .box {
    color: #78604d;
  }

  .staticBox {
    margin-bottom: 2.5em;
  }
  .box:hover {
    transform: scale(1.015); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    min-height: 200px;
  }

  .fill img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%
  }

  /*modal*/
  ::selection{
    color: #383f41;
    background: #bdd7ff;
  }

  .popup{
    z-index: 9999;
    position: absolute;
    left: 50%;
    text-align: left;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    top: -150%;
    max-width: 380px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 0.2s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
  }

  .popup.show{
    top: 50%;
    opacity: 1;
    pointer-events: auto;
    transform:translate(-50%, -50%) scale(1);
    transition: top 0s 0s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;

  }

  .popup :is(header, .field){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .popup :is(.icons){
    display: flex;
    align-items: left;
  }

  .popup header{
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
  }
  .popup header span{
    font-size: 21px;
    font-weight: 600;
  }
  .popup header .close, .icons a{
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
  .popup header .close{
    color: #878787;
    font-size: 17px;
    background: #f2f3fb;
    height: 33px;
    width: 33px;
    cursor: pointer;
  }
  .popup header .close:hover{
    background: #ebedf9;
  }
  .popup .content{
    margin: 20px 0;
  }
  .popup .icons{
    margin: 15px 0 20px 0;
  }
  .content p{
    font-size: 16px;
  }
  .content .icons a{
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
    margin-right: 8px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .icons a i{
    transition: transform 0.3s ease-in-out;
  }
  /* linkedin */
  .icons a:nth-child(1){
    color: #1877F2;
    border-color: #b7d4fb;
  }
  .icons a:nth-child(1):hover{
    background: #1877F2;
  }
  /* github */
  .icons a:nth-child(2){
    color: #000000;
    border-color: #a8a8a8;
  }
  .icons a:nth-child(2):hover{
    background: #000000;
  }
  /* mail */
  .icons a:nth-child(3){
    color: #15bfbf;
    border-color: #aeebeb;
  }
  .icons a:nth-child(3):hover{
    background: #15bfbf;
  }
  /* phone */
  .icons a:nth-child(4){
    color: #61b06b;
    border-color: #b5e6bb;
  }
  .icons a:nth-child(4):hover{
    background: #61b06b;
  }

  .icons a:hover{
    color: #fff;
    border-color: transparent;
  }
  .icons a:hover i{
    transform: scale(1.2);
  }

  .content .field{
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
  }
  .field.active{
    border-color: #7d2ae8;
  }
  .field i{
    width: 50px;
    font-size: 18px;
    text-align: center;
  }
  .field.active i{
    color: #7d2ae8;
  }
  .field input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }
  .field button{
    color: #fff;
    padding: 5px 18px;
    background: #7d2ae8;
  }
  .field button:hover{
    background: #8d39fa;
  }
